.settings-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;

  padding: 60px 0;
}

.setting-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 40px 20px;
  text-align: center;
  width: 100%;
  max-width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.setting-card:hover {
  transform: translateY(-5px);
}

.card-icon {
  font-size: 40px;
  color: #6746af;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  color: #333;
}
