.verification-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.verification-card {
  background-color: black;
  color: white;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.verification-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.verification-subtitle {
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
  color: #bbb;
}

.verification-form {
  display: flex;
  flex-direction: column;
}

.verification-input {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.verification-button {
  padding: 12px;
  background-color: #6746af;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.verification-button:disabled {
  background-color: #9e9e9e;
}

.verification-button:hover:enabled {
  background-color: #6746af;
}

.resend-button {
  margin: 0 auto;
  background-color: transparent;
  padding: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 0 !important;
  border-bottom: 3px solid white;
}
.resend-button:hover {
  background-color: transparent !important;
}
/* .resend-button:disabled {
  background-color: #9e9e9e;
} */

.timer-text {
  color: #f44336;
  text-align: center;
  margin-top: 10px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}

.verification-footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #bbb;
}
